@model QulixSystemsTest1.Models.Employee

@{
    ViewData["Title"] = "Работник";
}

<h1>@{ViewData["H1"] = Model.Id != 0 ? "Редактировать запись" : "Создать запись";}</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentDate" class="control-label"></label>
                @*Хотелоcь бы сделать это компактнее, но встречаюсь с проблемой:
                    либо при переходе на форму сбрасывается существующее значение даты,
                    либо она по умолчанию создатся как '01.01.0001'*@
                @{ if (Model.EmploymentDate.Ticks != 0)
                    {<input asp-for="EmploymentDate" class="form-control" />}
                    else
                    {<input asp-for="EmploymentDate" class="form-control" value=0 />}
                }
                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" class="form-control">
                    <option value="" selected disabled>Выберите из списка...</option>
                    @foreach (var item in ViewBag.Positions)
                    {
                        <option selected="@(Model.Position == item.Text)">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control">
                    <option value="" selected disabled>Выберите из списка...</option>
                    @foreach (var item in ViewBag.Companies)
                    {
                        <option selected="@(Model.CompanyId.ToString() == item.Value)" value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index">🡄 Назад</a>
                <input type="submit" value="💾 Сохранить" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
